@{
    ViewData["Title"] = "NotFound";
}

<link rel="stylesheet" href="/assets/css/not-found/not-found.css">

<!--========== MAIN ==========-->
<main class="not-found-wrapper section">
    <div class="container">
        <div class="row">
            <div class="col col-l-12 col-md-12 col-xs-12">
                <div class="not-found-page">
                    <img src="./assets/images/not-found/404.png" alt="404 not found" class="img-responsive">
                    <h3 class="not-found-title">Oops! This Page is Not Found.</h3>
                    <p class="not-found-text">The requested page does not exist.</p>
                    <a href="index.html" class="btn-not-found btn-primary">
                        Back to Home <i class='bx bx-right-arrow-alt'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>